<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="PythonFile" value="C:\Python3.8\python.exe" />
		<add key="ScriptFile" value="python.py" />
		<add key="MachineNum" value="100"/>
		<add key="ConnectionString" value="Data Source=LAPTOP-jgmdpg35;Initial Catalog=FinalYearProject;Integrated Security=True"/>
	</appSettings>
</configuration>